[/]
tools.staticdir.root = "C:/Users/Maria/Desktop/Dev/GitHub/cherrypy-practice"
log.screen = True

[/bootstrap.min.css]
tools.staticfile.on = True
tools.staticfile.filename = "C:/Users/Maria/Desktop/Dev/GitHub/cherrypy-practice/static/bootstrap.min.css"

[/static]
tools.staticdir.on = True
tools.staticdir.dir = "static"